<img  style="width:100px;" src="{{email.image('@img/logos.png')}}" alt="City Center">
<h4>{{contact.name}}</h4>
<h4>{{contact.email}}</h4>

<p>{{contact.message}}</p>


<img  style="width:80px;" src="{{email.image('@img/logo.png')}}" alt="City Center">