{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<footer class="page_contact ds parallax section_padding_top_50 section_padding_bottom_30 columns_padding_25" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-4 to_animate" data-animation="fadeIn">
                <h3 class="module-header">Contacts</h3>

                <div class="media small-teaser">
                    <div class="media-left">
                        <i class="rt-icon2-map2 highlight fontsize_24"></i>
                    </div>
                    <div class="media-body">
                        115 Av. de Lattre de Tassigny, 13090 Aix-en-Provence
                    </div>
                </div>

                <div class="media small-teaser">
                    <div class="media-left">
                        <i class="rt-icon2-device-phone highlight fontsize_24"></i>
                    </div>
                    <div class="media-body">
                        07 78 47 85 59
                    </div>
                </div>

                <div class="media small-teaser">
                    <div class="media-left">
                        <i class="rt-icon2-printer2 highlight fontsize_24"></i>
                    </div>
                    <div class="media-body">
                        +33 07 78 47 85 59
                    </div>
                </div>

                <div class="media small-teaser">
                    <div class="media-left">
                        <i class="rt-icon2-mail2 highlight fontsize_24"></i>
                    </div>
                    <div class="media-body">
                        <a href="mailto:your@mail.com">contact@mjcarrosserie.fr</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-md-4 to_animate" data-animation="fadeIn">
                <h3 class="module-header">Send Message</h3>
                {{form_start(contactForm)}}
                <form class="contact-form" method="post" action="/">
                    <p class="contact-form-name">
                        <label for="name">Name
                            <span class="required">*</span>
                        </label>
                            {{form_widget(contactForm.name)}}
                        {# <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name"> #}
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email
                            <span class="required">*</span>
                        </label>
                        {{form_widget(contactForm.email)}}
                        {# <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email"> #}
                    </p>
                    <p class="contact-form-message">
                        <label for="message">Message</label>
                        {{form_widget(contactForm.message)}}
                        {# <textarea aria-required="true" rows="6" cols="45" name="message" id="message" class="form-control" placeholder="Message"></textarea> #}
                    </p>
                    <p class="contact-form-submit topmargin40">
                        <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button small_button inverse">Send Message</button>
                    </p>
                </form>
            {{form_end(contactForm)}}
            </div>

            <div class="col-sm-12 col-md-4 to_animate" data-animation="fadeIn">
                <h3 class="module-header">Flickr Widget</h3>
                <div class="widget widget_flickr">
                    <ul id="flickr"></ul>
                </div>
            </div>

        </div>
    </div>
</footer>
{% endblock %}
